.gg-tooltip {
	--gg-popover-bg-color: var(--gg-bg-color-overlay);
	--gg-popover-font-size: var(--gg-font-size-base);
	--gg-popover-border-color: var(--gg-border-color-lighter);
	--gg-popover-padding: 12px;
	--gg-popover-border-radius: 4px;
	display: inline-block;
}
.gg-tooltip {
	.fade-enter-active,
	.fade-leave-active {
		transition: opacity var(--gg-transition-duration);
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
	}

	.gg-tooltip__popper {
		background: var(--gg-popover-bg-color);
		border-radius: var(--gg-popover-border-radius);
		border: 1px solid var(--gg-popover-border-color);
		padding: var(--gg-popover-padding);
		color: var(--gg-text-color-regular);
		line-height: 1.4;
		text-align: justify;
		font-size: var(--gg-popover-font-size);
		box-shadow: var(--gg-box-shadow-light);
		word-break: break-all;
		box-sizing: border-box;
		z-index: 1000;
		#arrow,
		#arrow::before {
			position: absolute;
			width: 8px;
			height: 8px;
			box-sizing: border-box;
			background: var(--gg-popover-bg-color);
		}
		#arrow {
			visibility: hidden;
		}
		#arrow::before {
			visibility: visible;
			content: "";
			transform: rotate(45deg);
		}
		&[data-popper-placement^="top"] > #arrow {
			bottom: -5px;
		}

		&[data-popper-placement^="bottom"] > #arrow {
			top: -5px;
		}

		&[data-popper-placement^="left"] > #arrow {
			right: -5px;
		}

		&[data-popper-placement^="right"] > #arrow {
			left: -5px;
		}
		&[data-popper-placement^="top"] > #arrow::before {
			border-right: 1px solid var(--gg-popover-border-color);
			border-bottom: 1px solid var(--gg-popover-border-color);
		}
		&[data-popper-placement^="bottom"] > #arrow::before {
			border-left: 1px solid var(--gg-popover-border-color);
			border-top: 1px solid var(--gg-popover-border-color);
		}
		&[data-popper-placement^="left"] > #arrow::before {
			border-right: 1px solid var(--gg-popover-border-color);
			border-top: 1px solid var(--gg-popover-border-color);
		}
		&[data-popper-placement^="right"] > #arrow::before {
			border-left: 1px solid var(--gg-popover-border-color);
			border-bottom: 1px solid var(--gg-popover-border-color);
		}
	}
}
