.gg-input {
	--gg-input-text-color: var(--gg-text-color-regular);
	--gg-input-border: var(--gg-border);
	--gg-input-hover-border: var(--gg-border-color-hover);
	--gg-input-focus-border: var(--gg-color-primary);
	--gg-input-transparent-border: 0 0 0 1px transparent inset;
	--gg-input-border-color: var(--gg-border-color);
	--gg-input-border-radius: var(--gg-border-radius-base);
	--gg-input-bg-color: var(--gg-fill-color-blank);
	--gg-input-icon-color: var(--gg-text-color-placeholder);
	--gg-input-placeholder-color: var(--gg-text-color-placeholder);
	--gg-input-hover-border-color: var(--gg-border-color-hover);
	--gg-input-clear-hover-color: var(--gg-text-color-secondary);
	--gg-input-focus-border-color: var(--gg-color-primary);
}

.gg-input {
	--gg-input-height: var(--gg-component-size);
	position: relative;
	font-size: var(--gg-font-size-base);
	display: inline-flex;
	width: 100%;
	line-height: var(--gg-input-height);
	box-sizing: border-box;
	vertical-align: middle;

	/* 禁用原生 password 可见性切换按钮 */
	input[type="password"] {
		-webkit-appearance: none;
		&::-ms-reveal {
			display: none;
			pointer-events: none;
		}
		&::-ms-clear {
			display: none;
		}
		&::-webkit-credentials-cramble-button {
			appearance: none;
		}
	}

	&.is-disabled {
		cursor: not-allowed;
		.gg-input__wrapper {
			background-color: var(--gg-disabled-bg-color);
			box-shadow: 0 0 0 1px var(--gg-disabled-border-color) inset;
		}
		.gg-input__inner {
			color: var(--gg-disabled-text-color);
			-webkit-text-fill-color: var(--gg-disabled-text-color);
			cursor: not-allowed;
		}
		.gg-textarea__inner {
			background-color: var(--gg-disabled-bg-color);
			box-shadow: 0 0 0 1px var(--gg-disabled-border-color) inset;
			color: var(--gg-disabled-text-color);
			-webkit-text-fill-color: var(--gg-disabled-text-color);
			cursor: not-allowed;
		}
	}
	&.is-prepend {
		> .gg-input__wrapper {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	&.is-append {
		> .gg-input__wrapper {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&.is-focus .gg-input__wrapper {
		box-shadow: 0 0 0 1px var(--gg-input-focus-border-color) inset !important;
	}
}

.gg-input--large {
	--gg-input-height: var(--gg-component-size-large);
	font-size: 14px;
	.gg-input__wrapper {
		padding: 1px 15px;
		.gg-input__inner {
			--gg-input-inner-height: calc(var(--gg-input-height, 40px) - 2px);
		}
	}
}
.gg-input--small {
	--gg-input-height: var(--gg-component-size-small);
	font-size: 12px;
	.gg-input__wrapper {
		padding: 1px 7px;
		.gg-input__inner {
			--gg-input-inner-height: calc(var(--gg-input-height, 24px) - 2px);
		}
	}
}
.gg-input__prefix,
.gg-input__suffix {
	display: inline-flex;
	white-space: nowrap;
	flex-shrink: 0;
	flex-wrap: nowrap;
	height: 100%;
	text-align: center;
	color: var(--gg-input-icon-color, var(--gg-text-color-placeholder));
	transition: all var(--gg-transition-duration);
}
.gg-input__prefix {
	> :first-child {
		margin-left: 0px !important;
	}
	> :last-child {
		margin-right: 8px !important;
	}
}
.gg-input__suffix {
	> :first-child {
		margin-left: 8px !important;
	}
	> :last-child {
		margin-right: 0px !important;
	}
}
.gg-input__prepend,
.gg-input__append {
	background-color: var(--gg-fill-color-light);
	color: var(--gg-color-info);
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	border-radius: var(--gg-input-border-radius);
	padding: 0 20px;
	white-space: nowrap;
}
.gg-input__prepend {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow:
		1px 0 0 0 var(--gg-input-border-color) inset,
		0 1px 0 0 var(--gg-input-border-color) inset,
		0 -1px 0 0 var(--gg-input-border-color) inset;
}
.gg-input__append {
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow:
		0 1px 0 0 var(--gg-input-border-color) inset,
		0 -1px 0 0 var(--gg-input-border-color) inset,
		-1px 0 0 0 var(--gg-input-border-color) inset;
	& > .gg-input__wrapper {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.gg-input--textarea {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	font-size: var(--gg-font-size-base);
}
.gg-textarea__wrapper {
	position: relative;
	display: block;
	resize: vertical;
	padding: 5px 11px;
	line-height: 1.5;
	box-sizing: border-box;
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	color: var(--gg-input-text-color, var(--gg-text-color-regular));
	background-color: var(--gg-input-bg-color, var(--gg-fill-color-blank));
	background-image: none;
	-webkit-appearance: none;
	box-shadow: 0 0 0 1px var(--gg-input-border-color, var(--gg-border-color)) inset;
	border-radius: var(--gg-input-border-radius, var(--gg-border-radius-base));
	transition: var(--gg-transition-box-shadow);
	border: none;
	&:focus {
		outline: none;
		box-shadow: 0 0 0 1px var(--gg-input-focus-border-color) inset;
	}
	&::placeholder {
		color: var(--gg-input-placeholder-color);
	}
}
.gg-input__wrapper {
	display: inline-flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	padding: 1px 11px;
	background-color: var(--gg-input-bg-color, var(--gg-fill-color-blank));
	background-image: none;
	border-radius: var(--gg-input-border-radius, var(--gg-border-radius-base));
	transition: var(--gg-transition-box-shadow);
	box-shadow: 0 0 0 1px var(--gg-input-border-color, var(--gg-border-color)) inset;
	&:hover {
		box-shadow: 0 0 0 1px var(--gg-input-hover-border-color) inset;
	}
	&.is-focus {
		box-shadow: 0 0 0 1px var(--gg-input-focus-border-color) inset;
	}
	.gg-input__inner {
		--gg-input-inner-height: calc(var(--gg-input-height, 32px) - 2px);
		width: 100%;
		flex-grow: 1;
		-webkit-appearance: none;
		color: var(--gg-input-text-color, var(--gg-text-color-regular));
		font-size: inherit;
		height: var(--gg-input-inner-height);
		line-height: var(--gg-input-inner-height);
		padding: 0;
		outline: none;
		border: none;
		background: none;
		box-sizing: border-box;
		&::placeholder {
			color: var(--gg-input-placeholder-color);
		}
	}
	.gg-icon {
		height: inherit;
		line-height: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all var(--gg-transition-duration);
		margin-left: 8px;
	}
	.gg-input__clear,
	.gg-input__password {
		color: var(--gg-input-icon-color);
		font-size: 14px;
		cursor: pointer;
		&:hover {
			color: var(--gg-input-clear-hover-color);
		}
	}
}
